.themed-grid-col {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.themed-grid-header {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: rgba(120, 124, 61, 0.15);
  border: 1px solid rgba(120, 124, 61, 0.2);
}

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.short-div {
  height:25px;
}

.package-desc {
  background-color: rgba(86, 61, 124, .10);
  border: 1px solid rgba(86, 61, 124, .12);
}

.ppa-header {
  background-color: rgba(86, 61, 124, .10);
  border: 1px solid rgba(106, 88, 133, 0.12);
  text-align: center;
}

.release-header {
  background-color: none;
  border: none;
  text-align: right;
}